{% extends 'base.html' %}

{% load static %}

{% load custom_tags %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ object.get_full_name }}</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">

                                {% if object.profile_picture %}

                                    <img class="d-block w-50 rounded-circle" src="{{ object.profile_picture.url }}"
                                         alt="Image">

                                {% else %}

                                    <img class="d-block w-50" src="{% static 'images/profile-picture.png' %}"
                                         alt="Image">

                                {% endif %}

                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>Contacts:</h2>
                        <h5>
                            E-mail: {{ object.email }}
                        </h5>
                        {% if object.telephone_number %}
                            <h5>
                                Telephone number:

                                {{ object.telephone_number }}
                            </h5>
                        {% endif %}
                        <h2>
                            <a href="{% url 'profile-products' object.pk %}">User's products</a>
                        </h2>
                        <h2>
                            <a href="{% url 'profile-apiaries' object.pk %}">User's bee gardens</a>
                        </h2>
                        {% if is_user or is_admin or is_moderator %}
                        <h2>
                            <a href="{% url 'profile-orders' object.pk %}">User's orders</a>
                        </h2>
                        {% endif %}
                        <p>

                            {% if object.description %}

                                <h4>Short Description:</h4>
                                <p>{{ object.description }} </p>

                            {% endif %}

                        {% if is_auth %}
                            <div class="add-to-btn">
                                <div class="add-comp">

                                    {% if is_admin or is_moderator or is_user %}
                                        <a class="btn hvr-hover" href="{% url 'profile-edit' object.pk %}"><i
                                                class="fas fa-user-edit"></i> Edit profile</a>
                                    {% endif %}

                                    {% if is_admin or is_user %}
                                        <a class="btn hvr-hover" href="{% url 'profile-delete' object.pk %}"><i
                                                class="fas fa-user-slash"></i> Delete profile</a>
                                    {% endif %}

                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>


            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        {% if not products %}
                            <h1> I don't have any products yet . . .</h1>
                        {% else %}
                            <h1>Featured Products</h1>

                            </div>

                            <div class="featured-products-box owl-carousel owl-theme">
                                {% for product in products %}
                                    <div class="item">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                {% if product.product_image %}
                                                    <img src="{{ product.product_image.url }}" class="img-fluid"
                                                         alt="Image">
                                                {% else %}
                                                    <img src="{% static 'images/default-product-image.jpg' %}"
                                                         class="img-fluid" alt="Image">
                                                {% endif %}
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="{% url 'product-details' product.pk %}"
                                                               data-toggle="tooltip" data-placement="right"
                                                               title="Details">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        {% if is_auth %}
                                                            <li>
                                                                <a href="{% url 'like' product.pk %}"
                                                                   data-toggle="tooltip"
                                                                   data-placement="right"
                                                                   title="{% like_title product request.user %}">
                                                                    {% if product|is_liked:request.user %}

                                                                        <i class="far fa-heart"
                                                                           style="color: red"></i>
                                                                    {% else %}
                                                                        <i class="far fa-heart"
                                                                           style="color: white"></i>
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                    <a class="cart" href="{% url 'cart-add' product.pk %}">Add to
                                                        Cart</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <h4>{{ product.product_name }}</h4>
                                                <h5>{{ product.price|floatformat:2 }} lv</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->



{% endblock %}