{% extends 'base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ object.username }}'s profile page</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="{% url 'profile-details' request.user.pk %}"> <i class="fa fa-user-check"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Account</h4>
                                    <p>Manage your account</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"> <i class="fa fa-gift"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Orders</h4>
                                    <p>Track, return, or buy things again</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"><i class="fa fa-box-open"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Products</h4>
                                    <p>View your products</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="#"> <i class="fa fa-boxes"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your bee hives</h4>
                                    <p>View benefits and payment settings</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- End My Account -->

{% endblock %}