{% extends 'base.html' %}

{% load static %}


{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Cart</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    {% if cart_items %}
        <!-- Start Cart  -->
        <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>In stock</th>
                                <th>Quantity</th>
                                <th>Update Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'product-details' item.product.pk %}">
                                            {% if item.product.product_image %}
                                                <img class="img-fluid" src="{{ item.product.product_image.url }}"
                                                     alt=""/>
                                            {% else %}
                                                <img class="img-fluid"
                                                     src="{% static 'images/default-product-image.jpg' %}" alt=""/>
                                            {% endif %}
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'product-details' item.product.pk %}">
                                            {{ item.product.product_name }}
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p> {{ item.product.price|floatformat:2 }} lv </p>
                                    </td>
                                    <td>
                                        <p>{{ item.product.quantity }}</p>
                                    </td>
                                    <td class="quantity-box">
                                        <form action="{% url 'cart-update' item.pk %}" method="post">
                                            <input name="quantity_{{ item.pk }}" type="number"
                                                   value={{ item.quantity }}>

                                            <button type="submit">Update</button>

                                            {% csrf_token %}
                                        </form>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="total-pr">
                                        <p>{{ item.item_price|floatformat:2 }} lv</p>
                                    </td>


                                    <td class="remove-pr">
                                        <a href="{% url 'cart-remove' item.pk %}">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-lg-8 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12">
                    <div class="order-box">

                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Grand Total</h5>
                            <div class="ml-auto h5"> {{ total_price|floatformat:2 }} lv</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12 d-flex shopping-box"><a href="{% url 'checkout' %}"
                                                           class="ml-auto btn hvr-hover">Checkout</a></div>
            </div>

        </div>
    {% else %}
        <br>
        <h1 align="center" style="font-size: xxx-large">Not any products in the cart . . .</h1>
        <span style="display: block; height: 110px;"></span>
    {% endif %}
</div>
{% endblock %}
