{% extends 'base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Checkout</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="checkout-address">
                        <div class="title-left">
                            <h3>Billing address</h3>
                        </div>
                        <form class="needs-validation" method="post" action="{% url 'checkout' %}">
                            {% for field in  form %}
                                <div class="col-form-label">
                                {{ field.label }}*
                                </div>
                                {{ field }}
                                <div class="help-block with-errors">{{ field.errors }}</div>
                            {% endfor %}


                            {% csrf_token %}
                            <div>
                                <hr class="mb-1">
                                <button type="submit" style="color: white" class="btn btn-default hvr-hover">Place Order</button>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="odr-box">
                                <div class="title-left">
                                    <h3>Shopping cart</h3>
                                </div>
                                <div class="rounded p-2 bg-light">
                                    {% for item in cart_items %}
                                        <div class="media mb-2 border-light">
                                            <div class="media-body"><a
                                                    href="{% url 'product-details' item.product.pk %}"> {{ item.product.product_name }}</a>
                                                <div class="small text-muted">Price: {{ item.product.price }} lv <span
                                                        class="mx-2">|</span> Qty: {{ item.quantity }} <span
                                                        class="mx-2">|</span> Subtotal: {{ item.total_price|floatformat:2 }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h3>Your order</h3>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold">Product</div>
                                    <div class="ml-auto font-weight-bold">Total</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4>Sub Total</h4>
                                    <div class="ml-auto font-weight-bold"> {{ sub_total|floatformat:2 }} lv</div>
                                </div>

                                <hr class="my-1">

                                <div class="d-flex">
                                    <h4>Delivery Cost</h4>
                                    <div class="ml-auto font-weight-bold"> {{ delivery }} lv</div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5>Grand Total</h5>
                                    <div class="ml-auto h5"> {{ grand_total|floatformat:2 }} lv</div>
                                </div>
                                <hr>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Cart -->



{% endblock %}