{% extends 'base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Create your apiary</h2>

                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">

                        <div class="title-left">
                            <h3>Input your apiary data</h3>
                        </div>
                        <form method="post" action="{% url 'create-apiary' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ form.as_p }}
                                        <div class="help-block with-errors"></div>
                                    </div>

                                </div>

                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Create</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}