{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome to <br> The Hive Online </strong></h1>
                            <p class="m-b-40"> Where honeylovers  and beekeepers<br> meet.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now </a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome to <br> The Hive Online </strong></h1>
                            <p class="m-b-40"> Check out our large <br> variety of bee products.</p>
                            <p><a class="btn hvr-hover" href="#">Shop now </a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome to <br> The Hive Online </strong></h1>
                            <p class="m-b-40"> You can buy <br> and you can sell.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/categories_img_01.jpg' %}" alt=""/>
                        <a class="btn hvr-hover" href="#"> Honey </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/categories_img_02.jpg' %}" alt=""/>
                        <a class="btn hvr-hover" href="#"> Been pollen </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/categories_img_03.jpg' %}" alt=""/>
                        <a class="btn hvr-hover" href="#"> Propolis </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->



    <!-- Start random Products  -->
    <div class="products-box">

        <div class="row special-list">
            <!--- Product1 --->
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="{% static 'images/img-pro-01.jpg' %}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i
                                        class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i
                                        class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i
                                        class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4> Linden honey </h4>
                        <h5> $14.49</h5>
                    </div>
                </div>
            </div>
            <!--- Product1 --->

        </div>
    </div>

    <!-- End Products  -->
{% endblock %}