{% extends 'base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Exit profile ?</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Logout</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
        <h1 align="center" style="font-size: xxx-large">
            Hope you come back soon.
        </h1>
        <span style="display: block; height: 110px;"></span>
    </div>
{% endblock %}