{% extends 'base.html' %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Not found . . .</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br>
        <h1 align="center" style="font-size: xxx-large">
            Error 404. Page not found.
        </h1>
        <span style="display: block; height: 110px;"></span>
    </div>
{% endblock %}