{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>All users</h2>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        {% if users %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Profile picture</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Last login</th>
                                    <th>Joined</th>

                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for user in users %}
                                    <tr>

                                        <td>
                                            {{ user.id }}
                                        </td>

                                        <td class="thumbnail-img">
                                            {% if user.profile_picture %}
                                                <img class="img-fluid" src="{{ user.profile_picture.url }}" alt=""/>
                                            {% else %}
                                                <img class="img-fluid"
                                                     src="{% static 'images/profile-picture.png' %}" alt=""/>
                                            {% endif %}
                                        </td>

                                        <td class="name-pr">
                                            <h3>{{ user.username }}</h3>
                                        </td>

                                        <td class="name-pr">
                                            <h3>{{ user.email }}</h3>
                                        </td>

                                        <td class="team-content">
                                            <p> {{ user.last_login }}</p>
                                        </td>
                                        <td class="quantity-box">{{ user.date_joined }}</td>

                                        <td class="cart-and-bay-btn">
                                            <div class="price-box-bar">
                                                <div class="cart-and-bay-btn">
                                                    <a class="btn hvr-hover" data-fancybox-close=""
                                                       href="{% url 'profile-details' user.pk %}">Details</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </table>

                        {% else %}
                            <h1 align="center" style="font-size: xxx-large">Not any users yet . . .</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}