{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>All gardens</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        {% if bee_gardens %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Garden picture</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Hives count</th>
                                    <th>Owner</th>

                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for garden in bee_gardens %}
                                    <tr>
                                        <td>{{ garden.id }}</td>
                                        <td class="thumbnail-img">
                                            {% if garden.apiary_photo %}
                                                <img class="img-fluid" src="{{ garden.apiary_photo.url }}" alt=""/>
                                            {% else %}
                                                <img class="img-fluid"
                                                     src="{% static 'images/default-apiary-image.png' %}" alt=""/>
                                            {% endif %}
                                        </td>

                                        <td class="name-pr">
                                            <h3>{{ garden.apiary_name }}</h3>
                                        </td>

                                        <td class="team-content">
                                            <p> {{ garden.location }}</p>
                                        </td>
                                        <td
                                                class="quantity-box">{{ garden.hives_count }}
                                        </td>
                                        <td>
                                             <a href="{% url 'profile-details' garden.owner.pk %}">{{ garden.owner.username }}</a>
                                        </td>
                                            <td class="cart-and-bay-btn">
                                                <div class="price-box-bar">
                                                    <div class="cart-and-bay-btn">
                                                        <a class="btn hvr-hover" data-fancybox-close=""
                                                           href="{% url 'details-apiary' garden.pk %}">Details</a>
                                                    </div>
                                                </div>
                                            </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <h1 align="center" style="font-size: xxx-large">Not any bee gardens yet . . .</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}