{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>All products</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        {% if products %}

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product picture</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Price</th>
                                    <th>In stock</th>
                                    <th>Owner</th>

                                    <th></th>


                                </tr>
                                </thead>
                                <tbody>

                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td class="thumbnail-img">
                                            {% if product.product_image %}
                                                <img class="img-fluid" src="{{ product.product_image.url }}" alt=""/>
                                            {% else %}
                                                <img class="img-fluid"
                                                     src="{% static 'images/default-product-image.jpg' %}" alt=""/>
                                            {% endif %}
                                        </td>

                                        <td class="name-pr">
                                            <h3>{{ product.product_name }}</h3>
                                        </td>

                                        <td class="team-content">
                                            <p> {{ product.product_type }}</p>
                                        </td>
                                        <td
                                                class="quantity-box">{{ product.price|floatformat:2 }} lv
                                        </td>
                                        <td class="team-content">
                                            <p> {{ product.quantity }}</p>
                                        </td>
                                        <td>
                                             <a href="{% url 'profile-details' product.owner.pk %}">{{ product.owner.username }}</a>
                                        </td>
                                            <td class="cart-and-bay-btn">
                                                <div class="price-box-bar">
                                                    <div class="cart-and-bay-btn">
                                                        <a class="btn hvr-hover" data-fancybox-close=""
                                                           href="{% url 'product-details' product.pk %}">Details</a>
                                                    </div>
                                                </div>
                                            </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <h1 align="center" style="font-size: xxx-large">Not any products yet . . .</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}